<nav class="navbar navbar-expand-md navbar-light fixed-top">
    
    <div class="container">
        <a href="/" class="navbar-brand">
        <img src="/images/logo1.jpg" alt="">
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Barra de navegacion">
        <span class="navbar-toggle-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="mainNav">
        <div class="nav ms-auto text-dark">
            <a href="/" class="nav-link">Inicio</a>
            <a href="equipo" class="nav-link">Equipo</a>
            <a href="proyectos" class="nav-link">Proyectos</a>
            <a href="contacto" class="nav-link">Contacto</a>
        </div>
    </div>
    </div>
</nav>
 
<div class="header2 fixed-top"></div>  