<div class="container-fluid"> 
<div class="slider">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators container-fluid">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/carrousel1.png" class="d-block w-100" alt="img-carousel1">
    </div>
    <div class="carousel-item">
      <img src="/images/carrousel2.png" class="d-block w-100" alt="img-carousel2">
    </div>
    <div class="carousel-item">
      <img src="/images/carrousel3.jpg" class="d-block w-100" alt="img-carousel3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>
</div>

<hr>

<section class=" section container-fluid">
  <div class="container-fluid">
    <div class="row"> <div class="clearfix">
      <div class="container col-md-6 float-md-end mb-3 ms-md-3">
        <img src="/images/manglal.png" class="" alt="...">
      </div>
  
    <h2>MANGLAR ARQUITECTURA</h2>
  <p>
    Fundamentos y objetivos de trabajo:<br>
    Manglar: Adaptación constante (a las inclemencias), cohesión e integración del entorno.Fluctuante entre dos “atmosferas
  </p>

  <p>
    Manglar surge como una inquietud proyectual, entendiéndose como proyecto nuestrarespuesta ante cualquier problema a resolver (distintas escalas de diseño) tanto de un comitente como de una situación detectada a través del estudio y la observación personal. Buscamos propiciar el medio adecuado para el desarrollo del entorno, con una mirada regional del contexto de inserción, y del objeto a estudiar o producir.
  </p>

  <p>
    <h4>Campos de aplicación:</h4> <br>
    -Proyectos y obras civiles (arquitectura): Producción de proyectos en todas sus etapas y escalas. Desde el diseño a la ejecución.<br>
    -Diseño industrial: Producción de objetos.<br>
    -Imagen y fotografía: Representación gráfica  de objetos y proyectos.<br>
    Proponemos brindar respuestas integrales a los proyectos priorizando los recursos y tecnologías regionales. Abordando todos los aspectos que influyen en los mismos: climáticos, sociales, económicos, tecnológicos, etc. Apostando fuertemente a la necesidad del oficio, dándole nuevamente lugar y valor en los proyectos.
  </p>
  <p>Buscamos lograr un impacto positivo, y generador de un diseño consiente y responsable, en nuestra comunidad y su entorno. <br>
   La arquitectura es el arte de la reconciliación entre nosotros y el mundo, y esta mediación tiene lugar a través de los sentidos.-Juhani Pallasmaa “Los ojos de la piel”</p>
  
    
</div>
</div>
   
  </div>
  
</section>

<hr>

<div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="contacto">
                      <h2><a href="contacto">Contacto</a></h2>
                        <ul>
                          <li>
                            <a href="https://www.instagram.com/manglararquitectura/?hl=es">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                            <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
                           </svg>
                          </a>
                          </li>
                          <li class="mt-1">
                            <a href="contacto">
                              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-mailbox2" viewBox="0 0 16 16">
                              <path d="M9 8.5h2.793l.853.854A.5.5 0 0 0 13 9.5h1a.5.5 0 0 0 .5-.5V8a.5.5 0 0 0-.5-.5H9v1z"/>
                               <path d="M12 3H4a4 4 0 0 0-4 4v6a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V7a4 4 0 0 0-4-4zM8 7a3.99 3.99 0 0 0-1.354-3H12a3 3 0 0 1 3 3v6H8V7zm-3.415.157C4.42 7.087 4.218 7 4 7c-.218 0-.42.086-.585.157C3.164 7.264 3 7.334 3 7a1 1 0 0 1 2 0c0 .334-.164.264-.415.157z"/>
                              </svg>
                            </a>
                          </li>
                          <li>
                            <a href="tel:1131576641">
                              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-phone-vibrate" viewBox="0 0 16 16">
                              <path d="M10 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4zM6 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H6z"/>
                              <path d="M8 12a1 1 0 1 0 0-2 1 1 0 0 0 0 2zM1.599 4.058a.5.5 0 0 1 .208.676A6.967 6.967 0 0 0 1 8c0 1.18.292 2.292.807 3.266a.5.5 0 0 1-.884.468A7.968 7.968 0 0 1 0 8c0-1.347.334-2.619.923-3.734a.5.5 0 0 1 .676-.208zm12.802 0a.5.5 0 0 1 .676.208A7.967 7.967 0 0 1 16 8a7.967 7.967 0 0 1-.923 3.734.5.5 0 0 1-.884-.468A6.967 6.967 0 0 0 15 8c0-1.18-.292-2.292-.807-3.266a.5.5 0 0 1 .208-.676zM3.057 5.534a.5.5 0 0 1 .284.648A4.986 4.986 0 0 0 3 8c0 .642.12 1.255.34 1.818a.5.5 0 1 1-.93.364A5.986 5.986 0 0 1 2 8c0-.769.145-1.505.41-2.182a.5.5 0 0 1 .647-.284zm9.886 0a.5.5 0 0 1 .648.284C13.855 6.495 14 7.231 14 8c0 .769-.145 1.505-.41 2.182a.5.5 0 0 1-.93-.364C12.88 9.255 13 8.642 13 8c0-.642-.12-1.255-.34-1.818a.5.5 0 0 1 .283-.648z"/>
                              </svg>
                            </a>
                          </li>
                        </ul>
                      </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="map">
			                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.243879145269!2d-58.263014185177695!3d-34.724246580428414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32e6bac9ba17b%3A0x702ea30c054ba56!2sQuilmes!5e0!3m2!1ses-419!2sar!4v1616700495121!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		              	</div>
                </div>
                
               

            </div>
        </div>