.navbar{
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.849);
	margin-top: auto;
	margin-bottom: auto;

}
.navbar-brand img{
	width: 80px;
}

a{
	color: inherit;
}




  
	#galeria img{
		width: 100%;
		height: 300px;
	}

	#galeria .col-lg-5{
		margin: 0;
		padding: 10px;
	}

	.equipoImg{
		width: 100%;
		height: 100%;
	}

	.imgE{
		width:100% ;
		border-radius: 60%;
	}
